# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Binaries
*.out
bin/
generator
api

# Config files
token.json
credentials.json
config.json

# Output
gdq.ics
ids.txt

# Vendor
vendor/
